<html>
  <head>
    <style type="text/css">
      body {
        margin: 0px;
      }
      #graph-view {
        max-width: 100%;
        height: 70%;
        margin: 0px;
        padding: 0px;
        border-style: solid;
      }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.parsers.json.min.js"></script>
    <script type="text/javascript" src="sigma_shape.js"></script>
    <script type="text/javascript" src="sigma_renderer.js"></script>
    <script type="text/javascript" src="sigma_layout.js"></script>
    <script type="text/javascript" src="sigma_graph.js"></script>
  </head>
  <body>

    <div id="graph-view"></div>

    <script>
      g = {{ g }};
      layout = {{ layout }};
      node_style = {{ node_style }};

      updateGraph("graph-view", g, layout, node_style, {});

    </script>
  </body>
</html>
